/**
 * @file
 * Subtheme specific CSS.
 */

 html
{
  height: 100%;
}

body
{
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  color: #252525;
  width: 100%;
    height: 100%;
  padding: 0;
  margin: 0;
}
a
{
  color: #e51b24;
  text-decoration: underline;
}
a img
{
  border: none;
}
a:hover,
a:focus
{
  color: #000;
}

.link-btn
{
  background-color: #e51b24;
  color: #fff;
  font-size: 0.889em;
  font-weight: 500;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
  border-radius: 2px;
  margin-top: 30px;
  display: block;
}
.link-btn:hover,
.link-btn:focus
{
  background-color: #252525;
  color: #fff;
}
.link-img-logo:hover
{
  opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

h1
{
  color:#22215b;
  font-size: 2.667em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}
h2
{
  font-size:1.333em ;
  color: #252525;
  font-weight: 500;
  text-transform: uppercase;
  margin: 50px 0 20px;
}
h2 a
{
  color: #252525;
  text-decoration: none;
}

h2 a:hover {
  color: #e51b24;
  text-decoration: underline;
}

h3 {
  font-size:2em ;
  background: url(../images/grey-line.png) no-repeat scroll center top;
  color: #848484;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0px 0;
  padding-top: 18px;
}

h4 {
  font-size:1.25em ;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 20px 0 0px;
}

.border-bottom-white
{
  border-bottom: 1px solid #fff;
}
.border-top-white
{
  border-top: 1px solid #fff;
  margin-top: 30px;
  padding-top: 10px;
}
ul li {
  list-style-image: url(../images/bullet-circle.png);
  line-height: 1.6em;
}

#intro-project .content-inner .col {
  width: auto;
}

.field--name-field-related-projects .field__items{
  display: flex;
  flex-wrap: wrap;
}

 /******************************Contact**************************/

#block-contact
{
  /*position: relative;*/
  width: 100%;
  background: url(../images/contact-map.jpg) no-repeat center top  / cover;
  height: 525px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  z-index: 200;
  top:-525px;
  position:fixed;
}
#block-contact .contact-inner
{
  width:1180px;
  margin: 0 auto;
  position: relative;
}

#block-contact h2
{
  color:#fff;
  font-size: 2.667em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #fff;
  margin: 0;
}
#block-contact .close-panel
{
  position: absolute;
  top: -30px;
  right: 20px;
}
#block-contact .close-panel:hover,
#block-contact .close-panel:focus
{
  top: 0;
}
#block-contact .close-panel span
{
  position: absolute;
  top:-9999px;
  left: -9999px;
}
#block-contact .contact-container
{
  background-color:#10155e;
  color: #fff;
  opacity: 0.9;
  width: 48.4%;
  margin:0;
  padding: 20px;
  position: relative;
  top: 50px;
}
#block-contact .contact-container h2,
#block-contact .contact-container a
{
  color: #fff;
}
#block-contact .contact-container a.box-link-btn
{
  background-color: #fff;
  color: #252525;
  font-size: 0.889em;
  font-weight: 500;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
  border-radius: 2px;
  margin-top: 50px;
  display: block;
}
#block-contact .contact-container a.box-link-btn:hover,
#block-contact .contact-container a.box-link-btn:focus
{
  background-color: #252525;
  color: #fff;
}


 /**************************************************************/
/******************************Header**************************/
/**************************************************************/

#main,
#join,
#footer
{
  width: 100%;
  margin: -2px 0 0;
  padding: 0;
}
#main
{
  position: relative;
  background-color: #fff;
  z-index: 100;
  margin-top: 90px;
}
#header
{
  height: 90px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 200;
}

header
{
  height: auto;
}
header .header-container
{
  width: 100%;
  height:90px;
  /*opacity: 0.9;*/
  position: relative;
  overflow: hidden;
  z-index: 1000;
  clear: both;
  background: url(../images/bkg-nav.png) repeat 0 0;
}
header .header-inner
{
  width:1180px;
  margin: 0 auto;
}
header .header-inner a.navbar-brand {
  font-size: 0;
  cursor: pointer;
  float: left;
  margin: 20px 0 0;
}


#block-novacomm-main-menu {
  float: right;
}

header .navbar-expand-lg .navbar-collapse {
  display: block !important;
}

header .header-container .header-inner nav .hor-nav {
  margin: 40px 0 0;
  display: block;
}

header .header-container .header-inner nav .hor-nav li {
  display: inline-block;
  font-size: 0.889em;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}

header .header-container .header-inner nav .hor-nav li.contact {
  background: url("../images/arrow-contact.png") no-repeat scroll right;
  padding-right: 15px;
}

header .header-container .header-inner nav .hor-nav li.contact.open{
  background: url("../images/arrow-contact-open.html") no-repeat scroll right;
  padding-right: 15px;
}

header .nav-link {
  padding: 0;
}

header .header-container .header-inner nav .hor-nav li.home
{
  margin: 0;
}
header .header-container .header-inner nav .hor-nav li a
{
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
header .header-container .header-inner nav .hor-nav li a:hover
{
  color: #e51b24;
  border-bottom: 2px solid #e51b24;
}

header .header-container .header-inner nav .hor-nav li a.active
{
  color: #e51b24;
  border-bottom: 2px solid #e51b24;
}

header .header-container .header-inner .mob-nav-btn {
  display: none;
}

.icons a span, .mob-nav-btn span {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.block-views-blockbanner-banner .col-auto {   padding: 0;
}

#banner {
  width: 100%;
  height: 425px;
  position: relative;
  z-index: 100;
}

.page-banner {
    background: url("../images/bkg-img-about.jpg") no-repeat scroll center top / cover;
    height: 100%;
    position: relative;
    top: -2px;
}
.page-banner .box-info
{
  background-color: #e51b24;
  opacity: 0.9;
  margin: 0 auto;
  width: 600px;
  color: #fff;
  padding: 5px 10px;
  top: 150px;
  position: relative;
  z-index: 100;
}
.page-banner .box-info p {
  text-align: center;
}
.page-banner .box-info h1
{
  color: #fff;
  font-weight: normal;
  font-size: 2.5em;
  padding: 0;
  margin: 0;

}
.page-banner .overlay {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAmf9A5tgAAAARSURBVAjXY1i1agEDEFCLBgA1MROJWXE8mAAAAABJRU5ErkJggg==');
}
.about #main
{
    background: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
#main #slider
{
  position: relative;
  z-index: 10;
  padding-bottom: 60px;
  background-color: #fff;
  top: -2px;
}
#main #slider .slider-container
{
  /*margin-top: -90px;*/
  position: relative;
}
#main #slider .slider-container img
{
  display: block;
  width: 100%;
}
#main #slider .slider-info
{
  position: absolute;
  top: 300px;
  text-align: center;
}




/*********************************************************************/
/******************************Content********************************/
/*********************************************************************/
.row {
  display: block;
  margin-right: 0;
  margin-left: 0;
}


.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.home #main #page-content
{
  position: relative;
  background-color: #fff;
  z-index: 100;
  /*padding-bottom: 100px;*/
  top: -2px;
}
.internal-page #main #page-content
{
  position: relative;
  background-color: #f4f2f2;
  z-index: 10;
  padding-bottom: 100px;
  top: -2px;
}

.home .page-banner {
  background: url("../images/img-slider_bkgd.jpg") no-repeat scroll center top / cover;
}
.home #main h2 {

  margin-top: 30px;
}
 p.logo_hp {
  text-align:center;
  margin: 10px  0px 0px;
}


/*********************************About**************************/


.about .page-banner {
  background: url("../images/bkg-img-about.jpg") no-repeat scroll center top / cover;

}

.btn-go-bottom
{
  margin: 0 auto;
    position: relative;
    top: 300px;
    width: 200px;
    z-index: 100;
}
.btn-go-bottom .link-btn
{
  background: url(../images/go-down-arrow.html) no-repeat center 40px #fff;
    background-color: ;
    border-radius: 2px;
    color: #000;
    display: block;
    font-size: 0.889em;
    font-weight: 500;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
}
.btn-go-bottom .link-btn:hover,
.btn-go-bottom .link-btn:focus
{
  background-color:#252525 ;
  color: #fff;
}
.down-arrow
{
  position: absolute;
  bottom: 40px;
  left: 50%;
  background: url(../images/arrow-down.html) no-repeat;
  width:36px ;
  height:23px ;
  z-index: 100;
}
.down-arrow span
{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.internal-page #main .team-container
{
  width: 100%;
}
.internal-page #main .team-container ul
{
  margin: 30px 0 0;
  padding: 0;
  width: 100%;
}
.internal-page #main .team-container ul li
{
  list-style: none;
  line-height:0.8em;
  float: left;
  padding: 0;
  margin:0;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 19.5%;
  overflow: hidden;
}
.internal-page #main .team-container ul li a
{
  display: block;
  margin:0;
  padding: 0;
}
.internal-page #main .team-container ul li .pic-member img
{
  width: 100%;
  height: auto;
  filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}
.internal-page #main .team-container ul li .pic-member .info-member
{
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 32px;
  background-color: #222;
  opacity: 0.7;
  color: #fff;
}
.internal-page #main .team-container ul li .pic-member .info-member span
{
  display: block;
  text-align: center;
  padding: 10px 10px 0;
  font-size: 0.8em;
}
.internal-page #main .team-container ul li .pic-member .info-member span.member-name
{
  text-transform: uppercase;
}
.internal-page #main .team-container ul li .pic-member img:hover
{
   /*
    -webkit-filter: grayscale(1) brightness(50%);
    -moz-filter: grayscale(1) brightness(50%);
    -o-filter: grayscale(1) brightness(50%);
    -ms-filter: grayscale(1) brightness(50%);
  filter: gray;
    filter: grayscale(1) brightness(50%);
    */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  cursor: pointer;
}
/*.internal-page #main .team-container ul li .pic-member:hover .info-member
{
  display: block;
  width: 100%;
  min-height: 40%;
  background-color: #e51b24;
  color: #fff;
  opacity: 0.9;
  -webkit-animation: moveteam 1s alternate;
    animation: moveteam 1s alternate;
    overflow: hidden;
}*/
/* Chrome, Safari, Opera */
@-webkit-keyframes moveteam {
    from {bottom: -40%;}
    to {bottom: 0px;}
}

@keyframes moveteam {
    from {bottom:-40%;}
    to {bottom: 0px;}
}



/**************************************************************/



#main #page-content .content-inner,
#main #intro-project .content-inner
{
  width:1180px;
  margin: 0 auto;
  position: relative;
}
#main #intro-project .content-inner {
  padding: 50px 20px 20px 20px;
}

.internal-page #main #detail-project .content-inner
{
  width:1180px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
#main #page-content .grid-container
{
  float: left;
  width: 100%;
}
#main #page-content .height-fix
{
  min-height: 150px;
}
#main #page-content .grid-container .grid-1-of-2
{
    margin-right: 3.2%;
    margin-bottom: 3.2%;
    width: 48.4%;
}
#main #page-content .grid-container .grid-1-of-2 h2
{
  font-size:1.5em ;
  color: #252525;
  font-weight: 500;
  text-transform: uppercase;
  margin: 50px 0 20px;
  text-align: center;
}
#main #page-content .grid-container .grid-1-of-2 .link-btn
{
  background-color: #e51b24;
  color: #fff;
  font-size: 0.889em;
  font-weight: 500;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
  border-radius: 2px;
  margin: 0 auto;
  display: block;
}
#main #page-content .grid-container .grid-1-of-2 .link-btn:hover,
#main #page-content .grid-container .grid-1-of-2 .link-btn:focus
{
  background-color: #252525;
  color: #fff;
}
#main #page-content .grid-container .grid-1-of-2 .link-img-logo:hover
{
  opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
/*#main #page-content .grid-container .grid-1-of-3
{
    margin-right: 3.2%;
    width: 31.2%;
    margin-bottom: 3.2%;
}*/

.novacomm-logo {

    background: url("../images/nvc-logo-small.html") no-repeat scroll center;
  min-height: 66px;
  z-index: 100;
  top: 35px;
  position: relative;

}
.dotted-left{
  background: url("../images/dotted-left.html") no-repeat scroll center;
  min-height: 81px;
  float: left;
  width: 50%;
  z-index: -1;
}
.dotted-right{
  background: url("../images/dotted-right.html") no-repeat scroll center;
  min-height: 81px;
  float: left;
  width: 50%;
  z-index: -1;
}

#main #page-content #content-inner-grey
{
  width:100%;
  margin: 0 auto;
  position: relative;
  background-color: #f4f2f2;
}
#target {
  max-width: 1180px;
    margin: 0 auto;
    padding: 30px 20px;
}

.red {
  color: #CC040C;
  font-weight: 700;
}
#main #page-content .grid-container .last
{
    margin-right: 0;
}
#main #page-content .grid-container .col
{
    float: left;
    padding: 0;
}
#main #page-content nav .hor-nav
{
  float: left;
  margin:0;
  padding: 0;
}
#main #page-content nav .hor-nav li
{
    display: inline-block;
  font-size: 0.889em;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    text-transform: uppercase;
}
#main #page-content nav .hor-nav li.contact
{
    background: url("../images/arrow-contact.png") no-repeat scroll right;
    padding-right: 15px;
}
#main #page-content nav .hor-nav li.contact.open
{
    background: url("../images/arrow-contact-open.html") no-repeat scroll right;
    padding-right: 15px;
}
#main #page-content nav .hor-nav li.home
{
  margin: 0;
}
#main #page-content nav .hor-nav li a
{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 2px 5px;
}
#main #page-content nav .hor-nav li a:hover
{
  color: #fff;
  background-color:#e51b24;
}
#main #page-content nav .hor-nav li a.active
{
  color: #fff;
  background-color:#e51b24;
}

.internal-page #main #page-content .choose-view
{
  padding: 0;
  margin: 0 20px 50px 0;
  /*float: left;*/
}
.internal-page #main #page-content .choose-view a
{
  float: left;
  margin-right: 20px;
}
.internal-page #main #page-content .grid-view span,
.internal-page #main #page-content .list-view span
{
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.internal-page #main #page-content .grid-view,
.internal-page #main #page-content .list-view
{
  width: 30px;
  height: 30px;
  display: block;
}
.internal-page #main #page-content .grid-view
{
  background: url(../images/sprite-subnav.html) no-repeat 0 -34px;
}
.internal-page #main #page-content .grid-view.active
{
  background: url(../images/sprite-subnav.html) no-repeat 0 0;
}
.internal-page #main #page-content .list-view
{
  background: url(../images/sprite-subnav.html) no-repeat -30px 0;
}
.internal-page #main #page-content .list-view.active
{
  background: url(../images/sprite-subnav.html) no-repeat -30px -34px;
}

/********************************Services - Grid view***************************/

.internal-page #main #page-content .grid-container
{
  float: left;
  width: 100%;
}
.internal-page #main #page-content .grid-container .col .items
{
    overflow: hidden;
    position: relative;
}
.internal-page #main #page-content .grid-container .col .items .item-front
{
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.internal-page #main #page-content .grid-container .col .items .item-front img
{
  width: 100%;
}

.internal-page #main #page-content .grid-container a.col
{
  display: inline-block;
    margin-right: 1.3%;
    margin-bottom: 2%;
    float: none;
    width: 32%;
    position: relative;
}

.internal-page #main #page-content a.col .items
{
    margin: 0% 5% 5% 0%;
}
.internal-page #main #page-content a.col.last
{
    margin-right: 0;
}

.internal-page #main #page-content .grid-container .col .items .hidden
{
  /*display: none;
  position: absolute;
  top: 0;
  left: 0;*/
  position: absolute;
  background-color: #e51b24;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: baseline;
  color: #FFF;
}

.internal-page #main #page-content .col .items .hidden {
  display: block;
}
/*.internal-page #main #page-content .grid-container .col:hover .items:hover .hidden
{
  display: block;
  background-color: #e51b24;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: baseline;
  color: #FFF;

  -webkit-animation: mymove 1s alternate;
    animation: mymove 1s alternate;

}*/
/* Chrome, Safari, Opera */
/*
@-webkit-keyframes mymove {
    from {top: -100%;}
    to {top: 0;}
}

@keyframes mymove {
    from {top: -100%;}
    to {top: 0;}
}*/
.internal-page #main #page-content .grid-container .col .items .item-back h2
{
  font-size: 2em;
  color: #fff;
  padding: 10px;
  margin: 20% 0 0 0;
}
.internal-page #main #page-content .grid-container .col .items .abstract
{
  display: none;
}


/********************************Servic es - List view***************************/

.internal-page #main #page-content .grid-container
{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.internal-page #main #page-content .list-container a.col
{
  display: inline-block;
    margin-right: 1.3%;
    margin-bottom: 2%;
    float: none;
    width: 45%;
    position: relative;
    text-decoration: none;
    color: #000;
}
.internal-page #main #page-content .list-container .col .items .item-front img {
  width: 32%;
  float: left;
  border-right: 3px solid #252525;
  margin: 7px 20px 30px 0;
  height: auto;
}

.internal-page #main #page-content .list-container a.col:hover .items .item-front img
{
  border-right: 3px solid #e51b24;
}
.internal-page #main #page-content .list-container a.col h2:hover
{
  color:#e51b24;
  text-decoration: underline;
}

.internal-page #main #page-content .list-container .col .items .item-back h2,
.internal-page #main #page-content .list-container .col .items .item-back p
{
  margin: 0;
  padding: 0;
}
.internal-page #main #page-content .list-container a.col.second
{
    margin-right: 0;
}
.internal-page #main #page-content .list-container a.col span
{
  color:#10155e;
  font-size: 0.9em;
}
.internal-page #main #form-container
{
    background-color: #f4f2f2;
    padding-bottom: 50px;
    position: relative;
    top: -2px;
    z-index: 10;
}
.internal-page #main #form-container .content-inner
{
  width:1180px;
  margin: 100px auto 0;
  position: relative;
  padding: 50px 20px 20px 20px;
}
.internal-page #main #form-container .content-inner h1
{
    color: #22215b;
    font-size: 2.667em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

#project-container .field--type-image img {
  margin: 0;
}

/*****************************Service - Detail page************************/

.internal-page #main #intro-project
{
    background-color: #f4f2f2;
    padding-bottom: 50px;
    position: relative;
    top: -2px;
    z-index: 10;
}
.internal-page #main #intro-project h1
{
  text-align: left;
  padding: 0;
  margin: 0;
}

.internal-page #main #intro-project .field--name-field-tags h3 {
  display: none;
}

.internal-page #main #intro-project .field--name-field-tags li {
  list-style-image: none;
  padding-right: 0;
}

.internal-page #main #intro-project .field--name-field-tags .links.field__items li:not(:first-child):before {
  content: "/";
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.internal-page #main #detail-project
{
    background-color: #fff;
    position: relative;
    top: -2px;
    z-index: 10;
}
.internal-page #main #intro-project .col,
.internal-page #main #detail-project .col
{
    box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.internal-page #main #intro-project .col.last
{
  margin-right: 0;
  padding-left: 70px;
}
.internal-page #main #detail-project .project-focus
{
    display: table;
    height: 350px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.internal-page #main #detail-project .project-focus .box
{
  box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}
.internal-page #main #detail-project .project-focus .box-right
{
  padding-left: 70px

}
.internal-page #main #detail-project .project-focus .box-left
{
  padding-right: 70px;
}




.internal-page #main #detail-project .job-box
{
  background-color: #f4f2f2;
  display: table;
  margin: 40px 0;
  padding: 0 20px 0 0;
  position: relative;
  z-index: 10;
}
.internal-page #main #detail-project .job-box .col
{
    box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}
.internal-page #main #detail-project .job-box h2
{
  padding: 0;
  margin: 0;
}
.internal-page #main #detail-project .job-box .job-descr
{
  padding: 20px 60px 20px 160px;
}
.internal-page #main #detail-project .job-box .link-btn
{
  margin-left: 40px;
    width: 450px;
}
.internal-page #main #detail-project .job-box .icon-job
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #252525;
  width: 125px;
  height: 100%;
}
.internal-page #main #detail-project .job-box .job-dev
{
  background: url(../images/icon-job-dev.html) no-repeat #252525 50% 50%;
}
.internal-page #main #detail-project .job-box .job-edito
{
  background: url(../images/icon-job-edito.html) no-repeat #252525 50% 50%;
}
.internal-page #main .box-gen-info .primary-info
{
  background-color:#e51b24;
  padding: 7px 30px 7px 10px;
  color: #fff;
  display: table;
  margin: 7px 0;
}
.internal-page #main .box-gen-info
{
  margin-top: 30px;
}
.internal-page #main .box-gen-info .primary-info span
{
  font-weight: bold;
  padding-right: 15px;
}


.internal-page #main #form-container .row-info
{
  margin: 20px 0;
}
.internal-page #main #form-container .left-info
{
    box-sizing: border-box;
    float: left;
    width: 260px;
    padding-right: 25px;
    text-transform: uppercase;
}
.internal-page #main #form-container .left-info span
{
  color:#e51b24;
}
.internal-page #main #form-container .right-info
{
    box-sizing: border-box;
    float: left;
}
.internal-page #main #form-container .right-info input.text-field
{
  height: 45px;
  width: 450px;
  border: none;
  font-size: 1em;
  color: #333;
  padding-left: 10px;
}
.internal-page #main #form-container .right-info textarea
{
  width: 440px;
  border: none;
  font-size: 1em;
  color: #333;
  padding: 10px;
}
#form-container .link-btn
{
  margin-top: 0;
  width: 200px;
  padding:8px 0;
}


/******************************Join us**************************/

#join
{
  position: relative;
  width: 100%;
  background: url(../images/join-picture.jpg) no-repeat center top  / cover;
  height: 525px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  z-index: 1;
  top:-2px;
  margin-bottom:-2px;
}
#join .join-inner
{
  width:1180px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

#join h2
{
  color:#fff;
  font-size: 2.667em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #fff;
  margin: 0;
}
#join .join-container
{
  background-color:#10155e;
  color: #fff;
  opacity: 0.9;
  width: 48.4%;
  margin:0;
  padding: 20px;
  position: relative;
  top: 50px;
}
#join .join-container h2,
#join .join-container a
{
  color: #fff;
}
#join .join-container a.box-link-btn
{
  background-color: #fff;
  color: #252525;
  font-size: 0.889em;
  font-weight: 500;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
  border-radius: 2px;
  margin-top: 50px;
  display: block;
}
#join .join-container a.box-link-btn:hover,
#join .join-container a.box-link-btn:focus
{
  background-color: #252525;
  color: #fff;
}

#application_form input.hidden
{
  display: none;
}

#application_form .search-btn
{
  background-color: #e51b24;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 0.889em;
    font-weight: 500;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
#application_form .search-btn:hover,
#application_form .search-btn:focus
{
    background-color: #252525;
    color: #fff;
}
#application_form .notification
{
  font-size: 0.8em;
  color: #666;
  text-transform: none;
  margin-top: 5px;
}

/*******************************************************************/
/********************************Footer*****************************/
/*******************************************************************/

footer
{
  padding: 0;
  margin: 0;
  /*background: url(../images/bkg-footer.png) #252525 repeat-x top;*/
  width: 100%;
  background-color: #22215b;
  position: relative;
  z-index: 100;
}
footer #footer-inner
{
  position: relative;
  overflow: hidden;
  width:1180px;
  margin: 0 auto;
  padding: 20px 0 50px;
  color: #fff;
}
footer #footer-inner .grid-container
{
  display: inline-block;
  width: 100%;
}

footer #footer-inner .grid-container .grid-1-of-3
{
    margin-right: 3.2%;
    width: 30%;
}
footer #footer-inner .grid-container .last
{
    margin-right: 0;
}

footer #footer-inner .grid-container .col
{
    float: left;
    padding: 0;
}
footer #footer-inner h2
{
  color: #fff;
}
footer #footer-inner a:hover
{
  color: #fff;
}

footer #footer-inner .phone
{
  display: inline;
  background: url(../images/sprite-tel.html) no-repeat 0 0;
  width: 57px;
  height: 57px;
  padding: 40px 0 0 74px;
}
footer #footer-inner .phone:hover,
footer #footer-inner .phone:focus
{
  background: url(../images/sprite-tel.html) no-repeat 0 -64px;
}
footer #footer-inner .mail
{
  display: inline;
  background: url(../images/sprite-mail.png) no-repeat 0 0;
  width: 57px;
  height: 57px;
  padding: 40px 0 0 74px;
}
footer #footer-inner .mail:hover,
footer #footer-inner .mail:focus
{
  background: url(../images/sprite-mail.png) no-repeat 0 -64px;
}
footer #footer-inner .adress
{
  display: inline;
  background: url(../images/sprite-adress.png) no-repeat 0 0;
  width: 57px;
  height: 57px;
  padding: 40px 0 0 74px;
}
footer #footer-inner .adress:hover,
footer #footer-inner .adress:focus
{
  background: url(../images/sprite-adress.png) no-repeat 0 -64px;
}

footer #footer-inner .facebook
{


  display: inline;
  background: url(../images/sprite-facebook.png) no-repeat 0 0;

  width: 57px;

  height: 57px;

  padding: 40px 0 0 74px;
}
footer #footer-inner .facebook:hover,
footer #footer-inner .facebook:focus
{

  background: url(../images/sprite-facebook.png) no-repeat 0 -64px;
}
footer #footer-inner .linkedin
{
  display: inline;
  background: url(../images/sprite-linkedin.png) no-repeat 0 0;
  width: 57px;
  height: 57px;
  padding: 40px 0 0 74px;
}

footer #footer-inner .linkedin:hover,
footer #footer-inner .linkedin:focus
{
  background: url(../images/sprite-linkedin.png) no-repeat 0 -64px;
}

footer #footer-inner .grid-container .grid-1-of-3 ul{
  margin: 30px 0 0 0;
  padding: 0;

}
footer #footer-inner #block-novacomm-footer li a,
footer #footer-inner #block-novacomm-footer li:last-child a {
  display: inline;
  margin-right: 7px;
  font-size:1.000em;
  text-decoration: none;
  color: #fff;

}
footer #footer-inner #block-novacomm-footer li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid grey;

}

footer #footer-inner #block-novacomm-footer li:last-child {
  list-style: none;
  display: inline;
  border-right: none;

}
.icons {
  margin-top: 60px;
}
.icons a span,
.mob-nav-btn span
{
  position: absolute;
  left: -9999px;
  top: -9999px;
}

@media screen and (max-width: 1180px)
{

  header .header-container .header-inner
  {
      margin: 0 auto;
      width: auto;
  }
  header .header-inner
  {
    width:auto;
    margin: 0;
    padding: 0 20px;
  }
  #contact .contact-inner
  {
    margin: 0;
    width: auto;
    padding: 0 20px;
  }
  .about #banner {
    height: 650px;
  }

  .internal-page #main #page-content .content-inner,
  #main #page-content .content-inner,
  .internal-page #main #detail-project .content-inner{
    width:auto;
    margin: 0;
    padding: 0 20px;
  }

  .internal-page #main #intro-project .content-inner {
    width:auto;
    margin: 0;
    padding: 50px 20px 0;
  }

  .internal-page #main #page-content  h1
  {
    padding-top: 40px;
  }
  .internal-page #main #page-content
  {
      margin-top: -2px;
    }
    .internal-page #main #intro-project .col,
    .internal-page #main #detail-project .project-focus .box
  {
    width: 47%;
  }
  .internal-page #main #intro-project .col img,
  .internal-page #main #detail-project .project-focus .box img
  {
    width: 100%;
  }
  .internal-page #main #page-content .list-container a.col
  {
    display: block;
      margin-right: 0;
      margin-bottom: 4%;
      float: none;
      width: 100%;
      position: relative;
      text-decoration: none;
      color: #000;
      clear: both;
  }
  footer #footer-inner
  {
    width:auto;
    margin: 0 ;
    padding: 20px 20px 50px;
    color: #fff;
  }
  .page-banner .box-info,
  .btn-go-bottom
  {
      top: 200px;
  }



}


@media screen and (max-width: 960px)
{


  .internal-page #main #page-content .list-container .col .items .item-front img
  {
    width: 30%;
    float: left;
    border-right: 3px solid #252525;
  }
  .internal-page #main #detail-project .project-focus
  {
    height: auto;
  }
  .internal-page #main #intro-project .col.last
  {
      padding-left: 30px;
  }
  .internal-page #main #intro-project .col, .internal-page #main #detail-project .col
  {
      vertical-align: middle;
  }
  .internal-page #main .team-container ul li
  {
    width: 24.5%;
  }
  .internal-page #main .team-container ul li .pic-member .info-member span
  {
      font-size: 0.7em;
  }

}

@media screen and (min-width: 801px) {
  .field--name-field-related-projects .field__items > .field__item{
    width: 33%
  }
}


@media screen and (max-width: 800px)
{

  #contact .contact-container
  {
      top: 50px;
      width: 80%;
  }
  #join .join-inner
  {
    width:auto;
  }
  #join .join-container
  {
    width: 80%;
  }
  header .header-inner a.logo img
  {
      margin-top: 14px;
      width: 150px;
  }
  h3 {
    margin: 20px 0 30px 0;
  }
  #main #page-content .grid-container .grid-1-of-2 h2 {
    margin: 20px 0 15px 0;
  }
  #main #page-content .grid-container .grid-1-of-2 .link-btn {
    margin: 45px auto;
  }
  #main #page-content .grid-container .grid-1-of-2
  {
      margin-right: 0;
      width: auto;
  }
  #main #page-content .grid-container .col
  {
      float: none;
  }
  #main #page-content .height-fix
  {
    min-height: inherit;
  }
  #main #slider .slider-container
  {
      margin-top: -2px;
  }
  .novacomm-logo {
      display: none;
  }
  .dotted-left, .dotted-right {
      display: none;
  }

  .internal-page #main #detail-project .job-box .link-btn
  {
      width: 260px;
      margin: 20px 0 20px 160px;
  }
  .internal-page #main #detail-project .job-box .col
  {
      box-sizing: normal;
      display:block;
      vertical-align: inherit;
  }
  .internal-page #main #form-container .right-info input.text-field
  {
    width: 300px;
  }
  .internal-page #main #form-container .right-info textarea
  {
    width: 290px;
  }
  .internal-page #main .team-container ul li .pic-member .info-member
  {
      height: 40px;
  }
  .internal-page #main .team-container ul li .pic-member .info-member span.member-name
  {
    padding-bottom: 10px;
  }
  .internal-page #main #page-content .grid-container a.col
  {
      display: inline-block;
      float: none;
      margin-bottom: 2%;
      margin-right: 1.3%;
      position: relative;
      width: 49%;
  }
  #footer #footer-inner .grid-container .grid-1-of-3 {
      margin-right: 3.2%;
      width: 100%;
  }

}




@media screen and (max-width: 640px)
{
  h1,
  #contact h2
  {
    font-size: 2em;
  }
  header .header-inner nav .hor-nav.menu-nav
  {
      display: none;
  }
  header .header-container .header-inner .mob-nav-btn
  {
      cursor: pointer;
      display: block;
      height: 53px;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 51px;
  }
  header .header-container
  {
      overflow: inherit;
      position: relative;
      width: 100%;
  }
  header .header-container .header-inner nav .hor-nav {
      background-color: #fff;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      position: absolute;
      top: 88px;
  }
  header .header-container .header-inner nav .hor-nav li
  {
      display: block;
      width: 100%;
      margin: 0;
  }
  header .header-container .header-inner nav .hor-nav li a
  {
      color: #000;
      font-weight: 500;
      text-decoration: none;
         padding: 7px 0 7px 10px;
      display: block;
  }
  header .header-container .header-inner nav .hor-nav li a:hover
  {
      border-bottom: none;
      background-color:#e51b24;
      color:  #fff;
  }
  header .header-container .header-inner nav .hor-nav li a.active
  {
      border-bottom: none;
      background-color:#e51b24;
      color:  #fff;
  }
  header .header-container .header-inner nav .hor-nav li.contact
  {
      padding-right: 0;
  }
  header .header-inner
  {
      padding: 0;
  }
  header .header-container .header-inner a.logo
  {
      margin: 20px 0 0 10px;
  }
  .link-btn,
  #contact .contact-container a.box-link-btn
  {
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
  }
  header .header-container .header-inner nav .hor-nav li.contact
  {
      background:none;
  }
  #banner {
      height: 650px;
      width: 100%;
  }
  .page-banner .box-info {
    width: auto;
  }
  .page-banner .box-info h1
  {
    font-size: 2.5em;
  }
  .about #banner
  {
      height: 350px;
  }
  .about .page-banner .box-info
  {
    width: 100%;
  }
  .about .page-banner .box-info h1
  {
    font-size: 2.2em;
  }
  .about .page-banner .box-info,
  .btn-go-bottom
  {
    top: 0;
  }
  .about #main
  {
    top: -2px;
  }
  #main #page-content .content-inner
  {
      margin: 50px 0 0;
  }
  .internal-page #main #intro-project
  {
      padding-bottom: 50px;
  }
  .internal-page #main #intro-project .col
  {
      width: 100%;
      display: inherit;
  }
  .internal-page #main #intro-project .col.last
  {
      padding-left: 0;
  }
  .internal-page #main #detail-project .project-focus .box
  {
     width: 100%;
  }
  .internal-page #main #detail-project .project-focus
  {
    border-bottom: 2px solid #ccc;
    margin-bottom: 50px;
  }
  .internal-page #main #detail-project .project-focus h2
  {
    margin: 0;
    padding: 20px 0 0;
  }
  .internal-page #main #detail-project .project-focus .box {
      display: block;
      vertical-align: top;
  }
  .internal-page #main #detail-project .project-focus .box-right
  {
      padding-left: 0;
      text-align: center;
  }
  .internal-page #main #detail-project .project-focus .box-left
  {
      padding-right: 0;
      text-align: center;
  }
  .internal-page #main #intro-project h1
  {
      margin: 20px 0 0;
  }
  .internal-page #main #form-container .left-info
  {
      box-sizing:normal;
      float: none;
      padding-right: 0;
      text-transform: uppercase;
      width:100%;
  }
  .internal-page #main #form-container .right-info
  {
      box-sizing:normal;
      float: none;
  }
  .internal-page #main #form-container .right-info input.text-field
  {
      width: 100%;
  }
  .internal-page #main .team-container ul li .pic-member .info-member
  {
    height: 45px;
  }
  .internal-page #main .team-container ul li .pic-member .info-member span
  {
      padding: 10px 15px 0;
  }
  .internal-page #main .team-container ul li
  {
    width: 32.5%;
  }
  .internal-page #main .team-container ul li .pic-member .info-member span
  {
      font-size: 0.7em;
  }
  .internal-page #main #page-content .grid-container .col .items .item-back h2
  {
      font-size: 1.4em;
      margin: 10% 0 0;
  }
  .page-banner .box-info p
  {
      display: none;
  }
  #footer-inner h2
  {
      margin: 20px 0 10px;
  }
  footer #footer-inner .grid-container .grid-1-of-2
  {
      margin-right: 0;
      width: auto;
  }
  footer #footer-inner .grid-container .col
  {
      float: none;
      width: 100%
  }



}


@media screen and (max-width: 480px)
{

  .internal-page #main .team-container ul li
  {
    width: 48.5%;
  }
  .about .page-banner .box-info
  {
      width: 90%;
  }
  .about .page-banner .box-info h1
  {
      font-size: 1.8em;
  }

}